<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstProject"
        tools:targetApi="31">
        <activity
            android:name=".MutualFriendListActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword_Activity"
            android:exported="false" />
        <activity
            android:name=".Admin_Activity"
            android:exported="false" />
        <activity
            android:name=".EditAccount_Activity"
            android:exported="false" />
        <activity
            android:name=".Main_Activity"
            android:exported="false" />
        <activity
            android:name=".Register_Activity"
            android:exported="false" />
        <activity
            android:name=".Login_Activity"
            android:exported="false" />
        <activity
            android:name=".Setup_Activity"
            android:exported="false" />
        <activity
            android:name=".ViewAccActivity_Scrollview"
            android:exported="false" />
        <activity
            android:name=".Post_Fragment"
            android:exported="false" />
        <activity
            android:name=".Interaction"
            android:exported="false" />
        <activity
            android:name=".Starting_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>